.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.encabezado__global {
  background-color: #212529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.encabezado__global nav ul {
  padding: 0;
  margin: 0vw 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
}

.encabezado__global nav ul li {
  list-style: none;
}

.encabezado__global nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffffff;
}

.encabezado__global nav ul li a:hover {
  color: #deb887;
}